ikcp/unick.ikcp/war/WEB-INF/pdf/ikcp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="agreement">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="insuredFrom" maxOccurs="unbounded">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:dateTime">
								<xs:attribute name="sk" use="required" type="xs:string"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="insuredTo" maxOccurs="unbounded">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:dateTime">
								<xs:attribute name="sk" use="required" type="xs:string"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="insuredDays" maxOccurs="unbounded" type="xs:byte"/>
				<xs:element name="country" maxOccurs="unbounded" type="xs:string"/>
				<xs:element name="land" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="key" maxOccurs="unbounded" type="xs:short"/>
							<xs:element name="label" maxOccurs="unbounded" type="xs:string"/>
							<xs:element name="areaName" maxOccurs="unbounded" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="signingDate" maxOccurs="unbounded">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:dateTime">
								<xs:attribute name="sk" use="required" type="xs:string"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="totalPrice" maxOccurs="unbounded" type="xs:decimal"/>
				<xs:element name="totalPriceText" maxOccurs="unbounded" type="xs:string"/>
				<xs:element name="variableSymbol" maxOccurs="unbounded" type="xs:int"/>
				<xs:element name="adultsCount" maxOccurs="unbounded" type="xs:byte"/>
				<xs:element name="childrenCount" maxOccurs="unbounded" type="xs:byte"/>
				<xs:element name="hasAnyoneMedical" maxOccurs="unbounded" type="xs:boolean"/>
				<xs:element name="hasAnyoneBaggage" maxOccurs="unbounded" type="xs:boolean"/>
				<xs:element name="hasAnyoneResponsibility" maxOccurs="unbounded" type="xs:boolean"/>
				<xs:element name="hasAnyoneAccident" maxOccurs="unbounded" type="xs:boolean"/>
				<xs:element name="hasAnyoneTechnicalHelp" maxOccurs="unbounded" type="xs:boolean"/>
				<xs:element name="insurer" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="typ" maxOccurs="unbounded" type="xs:string"/>
							<xs:element name="companyName" maxOccurs="unbounded">
								<xs:complexType/>
							</xs:element>
							<xs:element name="ico" maxOccurs="unbounded">
								<xs:complexType/>
							</xs:element>
							<xs:element name="name" maxOccurs="unbounded" type="xs:string"/>
							<xs:element name="surname" maxOccurs="unbounded" type="xs:string"/>
							<xs:element name="rc" maxOccurs="unbounded" type="xs:long"/>
							<xs:element name="birthDate" maxOccurs="unbounded">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:dateTime">
											<xs:attribute name="sk" use="required" type="xs:string"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="title" maxOccurs="unbounded">
								<xs:complexType/>
							</xs:element>
							<xs:element name="phone" maxOccurs="unbounded" type="xs:int"/>
							<xs:element name="email" maxOccurs="unbounded" type="xs:string"/>
							<xs:element name="citizen" maxOccurs="unbounded" type="xs:short"/>
							<xs:element name="same" maxOccurs="unbounded" type="xs:boolean"/>
							<xs:element name="address" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="psc" maxOccurs="unbounded" type="xs:int"/>
										<xs:element name="street" maxOccurs="unbounded" type="xs:string"/>
										<xs:element name="number" maxOccurs="unbounded" type="xs:byte"/>
										<xs:element name="city" maxOccurs="unbounded" type="xs:string"/>
										<xs:element name="same" maxOccurs="unbounded" type="xs:boolean"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="postalAddress" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="psc" maxOccurs="unbounded">
											<xs:complexType/>
										</xs:element>
										<xs:element name="street" maxOccurs="unbounded">
											<xs:complexType/>
										</xs:element>
										<xs:element name="number" maxOccurs="unbounded">
											<xs:complexType/>
										</xs:element>
										<xs:element name="city" maxOccurs="unbounded">
											<xs:complexType/>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="discounts" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="discount" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="type" maxOccurs="unbounded" type="xs:string"/>
										<xs:element name="price" maxOccurs="unbounded" type="xs:decimal"/>
										<xs:element name="priceText" maxOccurs="unbounded" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="insuredPersons" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="person" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="name" maxOccurs="unbounded" type="xs:string"/>
										<xs:element name="surname" maxOccurs="unbounded" type="xs:string"/>
										<xs:element name="birthDate" maxOccurs="unbounded">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:dateTime">
														<xs:attribute name="sk" use="required" type="xs:string"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="citizen" maxOccurs="unbounded" type="xs:short"/>
										<xs:element name="citizenText" maxOccurs="unbounded" type="xs:string"/>
										<xs:element name="totalPersonPrice" maxOccurs="unbounded" type="xs:decimal"/>
										<xs:element name="totalPersonPriceText" maxOccurs="unbounded" type="xs:string"/>
										<xs:element name="child" maxOccurs="unbounded" type="xs:boolean"/>
										<xs:element name="discountCard" maxOccurs="unbounded" type="xs:boolean"/>
										<xs:element name="discountCardType" maxOccurs="unbounded" type="xs:string"/>
										<xs:element name="discountCardCode" maxOccurs="unbounded">
											<xs:complexType/>
										</xs:element>
										<xs:element name="medical" maxOccurs="unbounded" type="xs:boolean"/>
										<xs:element name="baggage" maxOccurs="unbounded" type="xs:short"/>
										<xs:element name="responsibility" maxOccurs="unbounded" type="xs:boolean"/>
										<xs:element name="accident" maxOccurs="unbounded" type="xs:boolean"/>
										<xs:element name="technicalHelp" maxOccurs="unbounded" type="xs:boolean"/>
										<xs:element name="riskGroup" maxOccurs="unbounded" type="xs:string"/>
										<xs:element name="storno" maxOccurs="unbounded" type="xs:byte"/>
										<xs:element name="stornoObj" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="type" maxOccurs="unbounded" type="xs:string"/>
													<xs:element name="typeOther" maxOccurs="unbounded">
														<xs:complexType/>
													</xs:element>
													<xs:element name="date" maxOccurs="unbounded">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:dateTime">
																	<xs:attribute name="sk" use="required" type="xs:string"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="vacation" maxOccurs="unbounded" type="xs:boolean"/>
										<xs:element name="vacationObj" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="name" maxOccurs="unbounded">
														<xs:complexType/>
													</xs:element>
													<xs:element name="street" maxOccurs="unbounded">
														<xs:complexType/>
													</xs:element>
													<xs:element name="streetNumber" maxOccurs="unbounded">
														<xs:complexType/>
													</xs:element>
													<xs:element name="buildingNr" maxOccurs="unbounded">
														<xs:complexType/>
													</xs:element>
													<xs:element name="floorNr" maxOccurs="unbounded">
														<xs:complexType/>
													</xs:element>
													<xs:element name="city" maxOccurs="unbounded">
														<xs:complexType/>
													</xs:element>
													<xs:element name="postalCode" maxOccurs="unbounded">
														<xs:complexType/>
													</xs:element>
													<xs:element name="country" maxOccurs="unbounded">
														<xs:complexType/>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="pet" maxOccurs="unbounded" type="xs:boolean"/>
										<xs:element name="petType" maxOccurs="unbounded" type="xs:string"/>
										<xs:element name="petOther" maxOccurs="unbounded">
											<xs:complexType/>
										</xs:element>
										<xs:element name="petLicence" maxOccurs="unbounded">
											<xs:complexType/>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
